@model Kassa
<div class="container-fluid">

    <!-- Exportable Table -->
    <div class="row clearfix">

        <div style="padding:20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card " style="padding: 10px 30px;color: #0f1c2c !important">
                <h2 style="text-align:center">Kassa</h2>
                <div style="display:flex;justify-content:space-between;font-size:19px;font-weight:300">
                    <div class="">
                        <div>
                            <span style="font-weight:600;">Son dəyişmə vaxtı: </span> @Model.LastModifiedTime.ToString("dd-MM-yyyy  HH:mm")
                        </div>
                        <div>
                            @if (Model.LastModified == null)
                            {
                                <span style="font-weight:600;">Son dəyişmə səbəbi: Hal hazırda yoxdur</span>
                            }
                            else
                            {
                                <span style="font-weight:600;">Son dəyişmə səbəbi: </span> @Model.LastModified
                            }
                        </div>
                        <div>
                            @if (Model.LastModified == null)
                            {
                                <span style="font-weight:600;">Qeyd edən Şəxs: Hal hazırda yoxdur</span>
                            }
                            else
                            {
                                <span style="font-weight:600;">Qeyd edən Şəxs: </span> @Model.LastModifiedBy
                            }

                        </div>
                        <div>
                            <span style="font-weight:600;">Miqdar: </span> @Model.LastModifiedMoney Azn

                        </div>
                    </div>


                    <div style="background-color:deepskyblue;" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-3 bg-red">

                            <div class="content">
                                <div class="text-white"> Umumi Balans </div>
                                <div class="number count-to text-white" data-from="0" data-to="@Model.Balance" data-speed="150" data-fresh-interval="10">@Model.Balance Azn</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:mediumpurple;padding-bottom:30px;margin-inline:20px;" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-teal hover-expand-effect">

                <div class="content">
                    <div class="text"><span style="font-size:16px">Gəlirlər</span>  son 30 gün</div>
                    <div class="number count-to" data-from="0" data-to="@ViewBag.InComeCount" data-speed="15" data-fresh-interval="20">@ViewBag.InComeCount Azn</div>
                </div>
            </div>
        </div>
        <div style="background-color:mediumpurple;padding-bottom:30px;margin-inline:30px;" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">

                <div class="content">
                    <div class="text"><span style="font-size:16px">Xərclər</span>  son 30 gün</div>
                    <div class="number count-to" data-from="0" data-to="@ViewBag.ExpenditureCount" data-speed="15" data-fresh-interval="20">@ViewBag.ExpenditureCount Azn</div>
                </div>
            </div>
        </div>
        <div style="background-color:mediumpurple;" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">

                <div class="content">
                    <div class="text"><span style="font-size:16px">Maaşlar</span>  son 30 gün</div>
                    <div class="number count-to" data-from="0" data-to="@ViewBag.PaidedSalaryCount" data-speed="15" data-fresh-interval="20">@ViewBag.PaidedSalaryCount Azn</div>
                </div>

            </div>
        </div>
    </div>
</div>

@*@section Css{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" >
    }*@
